# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Towerdefense.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Taink\Towerdefense\.idea\.idea.Towerdefense\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
